pkgbase = handlr-regex
	pkgdesc = Powerful alternative to xdg-utils written in Rust
	pkgver = 0.10.0
	pkgrel = 2
	url = https://github.com/Anomalocaridid/handlr-regex
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = shared-mime-info
	provides = handlr
	conflicts = handlr
	replaces = handlr
	source = handlr-regex-0.10.0.tar.gz::https://github.com/Anomalocaridid/handlr-regex/archive/v0.10.0.tar.gz
	sha512sums = 1e53eb3b68620fedffb7d8691d23e36f953fbcc20f5b983e81a8b10de1d8c7eb18c78c805727e6e187eb098d9ddae73d5e585fde5c7612dd45e43ec41a161685

pkgname = handlr-regex
