pkgbase = tui-journal
	pkgdesc = Write and manage journals/notes from the terminal
	pkgver = 0.9.1
	pkgrel = 1
	url = https://github.com/AmmarAbouZor/tui-journal
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = openssl
	depends = gcc-libs
	depends = zlib
	options = !lto
	source = tui-journal-0.9.1.tar.gz::https://github.com/AmmarAbouZor/tui-journal/archive/v0.9.1.tar.gz
	sha512sums = ce69f10215a6430479e483f18232474723ba193f26f09d61b00a024ae3136e0e20f13f3fdc40cf5f7e8a40bdee87f27c2115a4275256534169d0ce037ed8cefa

pkgname = tui-journal
