pkgbase = tui-journal
	pkgdesc = Write and manage journals/notes from the terminal
	pkgver = 0.8.4
	pkgrel = 1
	url = https://github.com/AmmarAbouZor/tui-journal
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = openssl
	depends = gcc-libs
	depends = zlib
	options = !lto
	source = tui-journal-0.8.4.tar.gz::https://github.com/AmmarAbouZor/tui-journal/archive/v0.8.4.tar.gz
	sha512sums = 43d30597edc144f70ba8bc9e3f12df6acc743626754058faafaf7c8101acf1f2ee5808fd04ad84769bc3ee8f486866ec7889d8d60157695792ff57202a24e0d3

pkgname = tui-journal
