pkgbase = git-cliff
	pkgdesc = A highly customizable changelog generator
	pkgver = 2.3.0
	pkgrel = 1
	url = https://github.com/orhun/git-cliff
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	depends = zlib
	depends = libgit2
	source = git-cliff-2.3.0.tar.gz::https://github.com/orhun/git-cliff/archive/v2.3.0.tar.gz
	sha512sums = 7f01d06394a082cc2227926e810824a4a5ea9dfab475e6b9c17f06885acfc5b750827ba26086e33b4f0dd919e3393b2f1263df746fdca01a5e7f2c87335810a9

pkgname = git-cliff
	depends = gcc-libs
	depends = glibc
	depends = zlib
	depends = libgit2
	depends = libgit2.so
	depends = libz.so
