pkgbase = git-cliff
	pkgdesc = A highly customizable changelog generator
	pkgver = 2.2.0
	pkgrel = 1
	url = https://github.com/orhun/git-cliff
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = zlib
	depends = libgit2.so
	source = git-cliff-2.2.0.tar.gz::https://github.com/orhun/git-cliff/archive/v2.2.0.tar.gz
	sha512sums = de207e9214f6ccdeee8cd63f61779e9d3f547f126db45c5884abf6f31a0e146c6666e21caf836f71fff2a797bca1409db417e90ae1888d6d2bd7d5a9153be522

pkgname = git-cliff
