pkgbase = rnote
	pkgdesc = A simple drawing application to create handwritten notes
	pkgver = 0.9.2
	pkgrel = 1
	url = https://github.com/flxzt/rnote
	arch = x86_64
	license = GPL3
	makedepends = meson
	makedepends = cargo
	makedepends = cmake
	makedepends = clang
	makedepends = git
	depends = gtk4
	depends = glib2
	depends = libadwaita
	depends = poppler-glib
	depends = gstreamer
	depends = alsa-lib
	options = !lto
	source = rnote-0.9.2.tar.gz::https://github.com/flxzt/rnote/archive/v0.9.2.tar.gz
	b2sums = d5aa07fedc92873458a94005c6937711ed3ca7d8334452bffffb6d2c89e6b88a6551ab62033a69c5c1be7bb6be421c3531e98f3297d360b6c092eb8bdaa91101

pkgname = rnote
