pkgbase = rnote
	pkgdesc = A simple drawing application to create handwritten notes
	pkgver = 0.10.0
	pkgrel = 1
	url = https://github.com/flxzt/rnote
	arch = x86_64
	license = GPL3
	makedepends = meson
	makedepends = cargo
	makedepends = cmake
	makedepends = clang
	makedepends = git
	depends = gtk4
	depends = glib2
	depends = libadwaita
	depends = poppler-glib
	depends = gstreamer
	depends = alsa-lib
	options = !lto
	source = rnote-0.10.0.tar.gz::https://github.com/flxzt/rnote/archive/v0.10.0.tar.gz
	b2sums = c14943157291efc5ad151ffa9e534d9aee3023f42451bf968a81e6009c13325d122d0a09245f33e139a74310e3ee75f5e019ab9ec129e9b8ac3d52c5b17280f2

pkgname = rnote
