pkgbase = sniffnet
	pkgdesc = Application to comfortably monitor your network traffic
	pkgver = 1.3.0
	pkgrel = 2
	url = https://github.com/GyulyVGC/sniffnet
	install = sniffnet.install
	arch = x86_64
	license = Apache-2.0
	license = MIT
	makedepends = cargo
	depends = alsa-lib
	depends = fontconfig
	depends = libpcap
	depends = freetype2
	depends = glibc
	depends = zenity
	depends = xdg-desktop-portal
	options = !lto
	source = sniffnet-1.3.0.tar.gz::https://github.com/GyulyVGC/sniffnet/archive/refs/tags/v1.3.0.tar.gz
	sha512sums = 671900e75551770e96bcc3f7440911696d71f0972e64eae30ea42951a7376e0a439d68d1426c4c8fcde9e61ccd30e3f29e3a603f58db147115a07293a5206610

pkgname = sniffnet
