pkgbase = rust-analyzer
	pkgdesc = Rust compiler front-end for IDEs
	pkgver = 20240611
	pkgrel = 1
	url = https://rust-analyzer.github.io/
	arch = x86_64
	license = Apache-2.0
	license = MIT
	makedepends = git
	depends = gcc-libs
	depends = rust-src
	source = git+https://github.com/rust-lang/rust-analyzer.git#tag=2024-06-11
	b2sums = a8501dc07c5babfc9a0bd09af6a0b5204c29bca735e2cad03af2240c9d31c75556d60ebd90961848d6f5a3af53289cff73c50af2e84a347f7caa1a41b76b4a68

pkgname = rust-analyzer
