pkgbase = cargo-crev
	pkgdesc = Scalable, social, Code REView and recommendation system that we desperately need
	pkgver = 0.25.9
	pkgrel = 1
	url = https://github.com/crev-dev/cargo-crev
	arch = x86_64
	license = MPL
	license = Apache
	license = MIT
	makedepends = clang
	depends = cargo
	depends = openssl
	depends = libcurl.so
	depends = libgit2.so
	options = !lto
	source = cargo-crev-0.25.9.tar.gz::https://github.com/crev-dev/cargo-crev/archive/v0.25.9.tar.gz
	sha512sums = 6d09880c1577d9a2140563aa1c37a11a15a420cbfb1098658d6b7c07541ffaf1fcec55aa720338564bb4a549cfb5b8fd79b792c2f36fec2982327f873e8d0cb8
	b2sums = a9f7117cf6523ecfa6e70d4bf020f9043a4038c9a3cfbf0d841c443b41b9fd4de87f99e12881b16a16006d3c8a406bbf76d49850365d39f770d8129b69904d57

pkgname = cargo-crev
