pkgbase = cargo-crev
	pkgdesc = Scalable, social, Code REView and recommendation system that we desperately need
	pkgver = 0.25.4
	pkgrel = 1
	url = https://github.com/crev-dev/cargo-crev
	arch = x86_64
	license = MPL
	license = Apache
	license = MIT
	makedepends = cargo
	makedepends = clang
	depends = openssl
	depends = libcurl.so
	depends = libgit2.so
	options = !lto
	source = cargo-crev-0.25.4.tar.gz::https://github.com/crev-dev/cargo-crev/archive/v0.25.4.tar.gz
	sha512sums = 6bba9892e6282e8c98b3d65230c4dd80a1c794af955864b73149cf50fc1dc9acc3f2293114952ea0110482880cd12b7c7a7dccd0da5256c7d700609c7bbef758
	b2sums = 433f0e7be836ddafc34c11e763dccef155fb48553e768f025326e4457307eb7885ae4257e7ab3140ad3c11217c7b5ddb83015e73b84bec2f000070bab1dca05f

pkgname = cargo-crev
