pkgbase = trippy
	pkgdesc = A network diagnostic tool
	pkgver = 0.9.0
	pkgrel = 1
	url = https://trippy.cli.rs
	install = trippy.install
	arch = x86_64
	license = Apache
	makedepends = cargo
	depends = gcc-libs
	depends = libcap
	source = trippy-0.9.0.tar.gz::https://github.com/fujiapple852/trippy/archive/0.9.0.tar.gz
	b2sums = 92135376948ad710f14a2c8326e938f5ae0fa47563aea588b678dc0e55752c73d56d0468623345e0240b5f6061ebf11efea0b309f33dc738b2895901fc422d4a

pkgname = trippy
