pkgbase = cargo-expand
	pkgdesc = Subcommand to show result of macro expansion
	pkgver = 1.0.82
	pkgrel = 1
	url = https://github.com/dtolnay/cargo-expand
	arch = x86_64
	license = MIT
	license = Apache-2.0
	depends = cargo
	depends = gcc-libs
	options = !lto
	source = cargo-expand-1.0.82.tar.gz::https://github.com/dtolnay/cargo-expand/archive/1.0.82.tar.gz
	sha256sums = 94c79c7ef5adafb35eff79bef76145004ef39524d0a7f794755beee81e4f51ea

pkgname = cargo-expand
