pkgbase = cargo-expand
	pkgdesc = Subcommand to show result of macro expansion
	pkgver = 1.0.74
	pkgrel = 2
	url = https://github.com/dtolnay/cargo-expand
	arch = x86_64
	license = MIT
	license = Apache
	depends = cargo
	depends = gcc-libs
	options = !lto
	source = cargo-expand-1.0.74.tar.gz::https://github.com/dtolnay/cargo-expand/archive/1.0.74.tar.gz
	sha256sums = aa53dd3f32ef49591e2109f4edb3067be86db7e11f0a3a275a7e8bb524e81ef4

pkgname = cargo-expand
