pkgbase = cargo-rdme
	pkgdesc = Cargo command to create the README.md from your crate's documentation
	pkgver = 1.4.4
	pkgrel = 1
	url = https://github.com/orium/cargo-rdme
	arch = x86_64
	license = MPL-2.0
	depends = cargo
	options = !lto
	source = cargo-rdme-1.4.4.tar.gz::https://github.com/orium/cargo-rdme/archive/v1.4.4.tar.gz
	sha256sums = 631381a16eb23c7e2b0ae8c6a900f1f5c11d4329e9b6e901aaa15621ee2d274a

pkgname = cargo-rdme
