pkgbase = bob
	pkgdesc = A version manager for neovim
	pkgver = 2.9.1
	pkgrel = 1
	url = https://github.com/MordechaiHadad/bob
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = bob-2.9.1.tar.gz::https://github.com/MordechaiHadad/bob/archive/v2.9.1.tar.gz
	sha256sums = 06b5a7e416b9b10d85fa6d04ecdd743138cf7e81c1180d2b25c301bc0bd1561a

pkgname = bob
