pkgbase = bob
	pkgdesc = A version manager for neovim
	pkgver = 2.8.2
	pkgrel = 1
	url = https://github.com/MordechaiHadad/bob
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = bob-2.8.2.tar.gz::https://github.com/MordechaiHadad/bob/archive/v2.8.2.tar.gz
	sha256sums = a4a32955ca457ae0b3f26ba9a9762397a5916ec80cf75a4b045d3b5674bb4b83

pkgname = bob
