pkgbase = syndicationd
	pkgdesc = A TUI feed viewer
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/ymgyt/syndicationd
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = syndicationd-0.3.0.tar.gz::https://github.com/ymgyt/syndicationd/archive/synd-term-v0.3.0.tar.gz
	sha256sums = f7c21e35315198311c38b629a3ab92154d02838460fc5e2cd279610581ab1140

pkgname = syndicationd
