pkgbase = samply
	pkgdesc = A command-line sampling profiler for macOS and Linux
	pkgver = 0.12.0
	pkgrel = 1
	url = https://github.com/mstange/samply
	arch = x86_64
	license = Apache
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = samply-0.12.0.tar.gz::https://github.com/mstange/samply/archive/samply-v0.12.0.tar.gz
	sha512sums = 72a1b7efaa0217e5af791364e7e042d51c8c58c3588fdf7a869e2fa05ed5945d772a70ea18d637c0afd29de3887cc3bd79bb786c7468215b5cc08e93fd29c921

pkgname = samply
