pkgbase = xh
	pkgdesc = Friendly and fast tool for sending HTTP requests
	pkgver = 0.19.4
	pkgrel = 1
	url = https://github.com/ducaale/xh
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	replaces = ht-rs
	replaces = ht
	source = xh-0.19.4.tar.gz::https://github.com/ducaale/xh/archive/v0.19.4.tar.gz
	sha256sums = 1ab3ede256d4f0fba965ad15c0446a48ff61524ef27d3a1067916b1359568778

pkgname = xh
