pkgbase = gitu
	pkgdesc = A TUI Git client inspired by Magit
	pkgver = 0.19.0
	pkgrel = 1
	url = https://github.com/altsem/gitu
	arch = x86_64
	license = MIT
	checkdepends = git
	makedepends = cargo
	depends = gcc-libs
	depends = libgit2
	options = !lto
	source = https://github.com/altsem/gitu/archive/v0.19.0/gitu-0.19.0.tar.gz
	sha256sums = 6b6a3811bff0aa60301ba82b437bc9b17985bbf82911d2f5d911f7e25219d23f

pkgname = gitu
