pkgbase = dart
	pkgdesc = The dart programming language SDK
	pkgver = 3.3.3
	pkgrel = 1
	url = https://dart.dev/
	arch = x86_64
	license = BSD
	makedepends = dart
	makedepends = git
	makedepends = gn
	makedepends = ninja
	makedepends = python
	makedepends = python-httplib2
	makedepends = python-six
	depends = glibc
	source = git+https://github.com/dart-lang/sdk.git#commit=c09cb46304325cc59890ef685d33f5e022da047e
	source = git+https://chromium.googlesource.com/chromium/tools/depot_tools.git
	source = DEPS.patch
	sha256sums = aaba03bb91dd3fbabaf880e21a7a40f605a71fdeb4ab66629090be3f7123ee84
	sha256sums = SKIP
	sha256sums = db6576a70c6719e26795b9824546058b79fefa64158c1002d36546d826084403

pkgname = dart
