pkgbase = lucky-commit
	pkgdesc = Customize your git commit hashes
	pkgver = 2.2.3
	pkgrel = 1
	url = https://github.com/not-an-aardvark/lucky-commit
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = ocl-icd
	source = lucky-commit-2.2.3.tar.gz::https://github.com/not-an-aardvark/lucky-commit/archive/v2.2.3.tar.gz
	sha512sums = 299e66f404a742abed1d11ba104d3bda7c26c3b035c27c8a3e4beb28706a277d2408aae2e45034aa3cffb840e2d51af8dce61369c0164dee81fdc09f22422955

pkgname = lucky-commit
