pkgbase = watchbind
	pkgdesc = Turn any shell command into a powerful TUI with custom keybindings
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/fritzrehde/watchbind
	arch = x86_64
	license = GPL3
	makedepends = cargo
	depends = gcc-libs
	source = watchbind-0.2.0.tar.gz::https://github.com/fritzrehde/watchbind/archive/v0.2.0.tar.gz
	sha256sums = a4e38d05b09a8980c6924188ed853d5060d86ac8974cd9a6204a3caf1e4c031a

pkgname = watchbind
