pkgbase = dysk
	pkgdesc = Get information on your mounted filesystems
	pkgver = 2.8.1
	pkgrel = 1
	url = https://github.com/Canop/dysk
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	replaces = lfs
	source = dysk-2.8.1.tar.gz::https://github.com/Canop/dysk/archive/v2.8.1.tar.gz
	sha512sums = 27db9e93d5effb07b195265090621f330be30cee5b6900ac12f950ede515cde0c91e1d47b8aa0f63aa710633b624a206492c308a4efcf9793455796b6f666b19

pkgname = dysk
