pkgbase = tabiew
	pkgdesc = A lightweight TUI to view and query CSV files
	pkgver = 0.3.5
	pkgrel = 1
	url = https://github.com/shshemi/tabiew
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	source = https://github.com/shshemi/tabiew/archive/v0.3.5/tabiew-0.3.5.tar.gz
	sha512sums = b6534077b8c1a10ea338361f40f9f0818f3a452843442540069a2721fee9dcf929751088bab85a28df1d918ad9a0b123ddffa678f17256bb6168968081026cc9

pkgname = tabiew
