pkgbase = cargo-deb
	pkgdesc = Cargo subcommand that generates Debian packages
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/kornelski/cargo-deb
	arch = x86_64
	license = MIT
	depends = cargo
	depends = xz
	source = cargo-deb-2.1.0.tar.gz::https://github.com/kornelski/cargo-deb/archive/v2.1.0.tar.gz
	sha256sums = 064a37cf127b5ac662ff3e6115ab6684ffa955abd08a5d9118f732e1bb49fb49

pkgname = cargo-deb
