pkgbase = cargo-deb
	pkgdesc = Cargo subcommand that generates Debian packages
	pkgver = 2.1.1
	pkgrel = 1
	url = https://github.com/kornelski/cargo-deb
	arch = x86_64
	license = MIT
	depends = cargo
	depends = xz
	source = cargo-deb-2.1.1.tar.gz::https://github.com/kornelski/cargo-deb/archive/v2.1.1.tar.gz
	sha256sums = c0f28a6a144221a6cbb478efa95a7aa7d79ff0fa4d8911ee3de376b2df02ecf2

pkgname = cargo-deb
