pkgbase = cargo-tarpaulin
	pkgdesc = Tool to analyse test coverage of cargo projects
	pkgver = 0.31.0
	pkgrel = 1
	url = https://github.com/xd009642/tarpaulin
	arch = x86_64
	license = Apache-2.0
	license = MIT
	makedepends = git
	depends = cargo
	depends = gcc-libs
	depends = glibc
	depends = libcurl.so
	depends = openssl
	depends = libssh2
	depends = libgit2
	depends = zlib
	source = cargo-tarpaulin-0.31.0::git+https://github.com/xd009642/tarpaulin.git#tag=0.31.0
	b2sums = b08e6516d0e42e965e94588b41988b12ec3a349b9e849a2fb6103ed912c8cb9c7f667f52412ba594f7bb635af4f249321683a2c3373fc9c6e2c1de728a7f8053

pkgname = cargo-tarpaulin
