pkgbase = cargo-tarpaulin
	pkgdesc = Tool to analyse test coverage of cargo projects
	pkgver = 0.29.1
	pkgrel = 1
	url = https://github.com/xd009642/tarpaulin
	arch = x86_64
	license = Apache-2.0
	license = MIT
	makedepends = git
	depends = cargo
	depends = gcc-libs
	depends = glibc
	depends = libcurl.so
	depends = openssl
	depends = libssh2
	depends = libgit2
	depends = zlib
	source = cargo-tarpaulin-0.29.1::git+https://github.com/xd009642/tarpaulin.git#tag=0.29.1
	b2sums = 38a6c7efdaf6fbb7561b0658712465ab52c91fdd6bd2e6c86c488ef94fb99f81f72b8cb6dd9cc1a5642491e94cba8021ba916837dc0c76f5f143e8b09da2a4b2

pkgname = cargo-tarpaulin
