pkgbase = cargo-tarpaulin
	pkgdesc = Tool to analyse test coverage of cargo projects
	pkgver = 0.28.0
	pkgrel = 1
	url = https://github.com/xd009642/tarpaulin
	arch = x86_64
	license = Apache
	license = MIT
	makedepends = git
	depends = cargo
	depends = gcc-libs
	depends = glibc
	depends = libcurl.so
	depends = openssl
	depends = libssh2
	depends = libgit2
	depends = zlib
	source = git+https://github.com/xd009642/tarpaulin.git#tag=7f514aad1abb8a655bf88640467f07868e2f585a
	b2sums = SKIP

pkgname = cargo-tarpaulin
