pkgbase = cargo-nextest
	pkgdesc = A next-generation test runner for Rust.
	pkgver = 0.9.64
	pkgrel = 1
	url = https://github.com/nextest-rs/nextest
	arch = x86_64
	license = Apache
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = cargo-nextest-0.9.64.tar.gz::https://github.com/nextest-rs/nextest/archive/refs/tags/cargo-nextest-0.9.64.tar.gz
	sha256sums = 5617d471d9ce370cfa0d92ed59adfbbfea67f1ad272fee89f91c3a429c24a4ca
	b2sums = a3d04c23812292ca5154c0d810e2e9a5135b71489c540339b4db14b0ffbb8056bc82b7634ee9151b1d407897c0a59d1b60546afd8de91b37e3225746e2c613c6

pkgname = cargo-nextest
