pkgbase = cargo-nextest
	pkgdesc = A next-generation test runner for Rust.
	pkgver = 0.9.67
	pkgrel = 1
	url = https://github.com/nextest-rs/nextest
	arch = x86_64
	license = Apache
	license = MIT
	depends = cargo
	depends = gcc-libs
	options = !lto
	source = cargo-nextest-0.9.67.tar.gz::https://github.com/nextest-rs/nextest/archive/refs/tags/cargo-nextest-0.9.67.tar.gz
	sha256sums = 42d00268b0e75669ade4aa28ffa0e7084c06497e46fce097bb2db21b7be998ec
	b2sums = 7c0ab6a3e53dadbc8bcb5a07d4e1d6daa0bc3b8e0ac9da13ff81ca2c28118254708551850e4eea8107c825f818fa9edda4622bd45c0c152955b1f7574e507931

pkgname = cargo-nextest
