pkgbase = cargo-nextest
	pkgdesc = A next-generation test runner for Rust.
	pkgver = 0.9.66
	pkgrel = 2
	url = https://github.com/nextest-rs/nextest
	arch = x86_64
	license = Apache
	license = MIT
	depends = cargo
	depends = gcc-libs
	options = !lto
	source = cargo-nextest-0.9.66.tar.gz::https://github.com/nextest-rs/nextest/archive/refs/tags/cargo-nextest-0.9.66.tar.gz
	sha256sums = 2525fa66c6945821fc5b957b5cc41922c6879731bca8711f577f8794ef0b389d
	b2sums = 8e6a2a3c03af5bf62543d1e036c812a1c123c43c93e8fedba32adac8191c948469a3105583df29925612627dab3d18b57285d639c186974e46fdb923bebc2872

pkgname = cargo-nextest
