pkgbase = cargo-shuttle
	pkgdesc = Cargo command for the shuttle platform
	pkgver = 0.33.0
	pkgrel = 1
	url = https://github.com/shuttle-hq/shuttle
	arch = x86_64
	license = Apache
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	depends = zlib
	depends = curl
	options = !lto
	source = cargo-shuttle::git+https://github.com/shuttle-hq/shuttle.git#commit=299a30db5b3361c328b3231971d8276d10995be7
	source = cargo-shuttle-examples::git+https://github.com/shuttle-hq/examples.git
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = cargo-shuttle
