pkgbase = cargo-shuttle
	pkgdesc = Cargo command for the shuttle platform
	pkgver = 0.32.0
	pkgrel = 1
	url = https://github.com/shuttle-hq/shuttle
	arch = x86_64
	license = Apache
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	depends = zlib
	depends = curl
	options = !lto
	source = cargo-shuttle::git+https://github.com/shuttle-hq/shuttle.git#commit=6943e21341145e5335c140b93fb2b493ac6f2cf2
	source = cargo-shuttle-examples::git+https://github.com/shuttle-hq/examples.git
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = cargo-shuttle
