pkgbase = jwt-ui
	pkgdesc = A command line UI for decoding/encoding JSON Web Tokens
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/jwt-rs/jwt-ui
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = jwt-ui-1.2.0.tar.gz::https://github.com/jwt-rs/jwt-ui/archive/v1.2.0.tar.gz
	sha512sums = ab7d35085fc6fc33558fd73b2081cda5740f992b93ee0db32f793a59d5895b9f9c07775b7f3f7931099de631cb4351614d605a1d45f7b159a427c449dace02e4

pkgname = jwt-ui
