pkgbase = rust-bindgen
	pkgdesc = Automatically generates Rust FFI bindings to C (and some C++) libraries
	pkgver = 0.69.2
	pkgrel = 1
	url = https://github.com/rust-lang/rust-bindgen
	arch = x86_64
	license = BSD
	makedepends = cargo
	depends = gcc-libs
	depends = clang
	source = rust-bindgen-0.69.2.tar.gz::https://github.com/rust-lang/rust-bindgen/archive/v0.69.2.tar.gz
	sha512sums = 2ed9ea21b1ae5a86eea851eba1aa2cb5e96fded8be6cf1305c9d3d2d7066cd417bb54fc793768843045af65995b7d282984f6b1e390f677df53fa65c446f8386

pkgname = rust-bindgen
