pkgbase = rattler-build
	pkgdesc = A fast conda-package builder
	pkgver = 0.17.1
	pkgrel = 1
	url = https://github.com/prefix-dev/rattler-build
	arch = x86_64
	license = BSD
	checkdepends = patchelf
	checkdepends = git
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	depends = bzip2
	depends = xz
	options = !lto
	source = rattler-build-0.17.1.tar.gz::https://github.com/prefix-dev/rattler-build/archive/v0.17.1.tar.gz
	sha512sums = 4a44491c8d63fb2657f7c3ee191b77f9ae998f61cedbbbd4edea11c593eb2d0c076b0e6de13b14aaf7741d98f7329928be57d48cf1c5a09d762a52bec54c60b0

pkgname = rattler-build
