pkgbase = rattler-build
	pkgdesc = A fast conda-package builder
	pkgver = 0.8.0
	pkgrel = 1
	url = https://github.com/prefix-dev/rattler-build
	arch = x86_64
	license = BSD
	checkdepends = patchelf
	checkdepends = git
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	depends = bzip2
	depends = xz
	options = !lto
	source = rattler-build-0.8.0.tar.gz::https://github.com/prefix-dev/rattler-build/archive/v0.8.0.tar.gz
	sha512sums = 8aad68736f1bd55cd868eb21ba61624171ead7745589357f70debf096f6a9d2ad56a3d960556695545f161c6639ef2b8b1c422db855f337ba679a4cf3ea1b060

pkgname = rattler-build
