pkgbase = rattler-build
	pkgdesc = A fast conda-package builder
	pkgver = 0.9.0
	pkgrel = 1
	url = https://github.com/prefix-dev/rattler-build
	arch = x86_64
	license = BSD
	checkdepends = patchelf
	checkdepends = git
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	depends = bzip2
	depends = xz
	options = !lto
	source = rattler-build-0.9.0.tar.gz::https://github.com/prefix-dev/rattler-build/archive/v0.9.0.tar.gz
	sha512sums = a9dcb24f661591ea1a0f2ed8ad79c26674c15051e17b05f516e6f5fabeca5d003633566ff33e662623b95f58cf3d66e6dd9ab88f74312275c8bb969dfa25845b

pkgname = rattler-build
