pkgbase = havn
	pkgdesc = A fast configurable port scanner with reasonable defaults
	pkgver = 0.1.11
	pkgrel = 1
	url = https://github.com/mrjackwills/havn
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	source = havn-0.1.11.tar.gz::https://github.com/mrjackwills/havn/archive/v0.1.11.tar.gz
	sha256sums = 5106a4dabc34ae71bcd8739f86d6f20885204792c100be70035f785c6067e72e

pkgname = havn
