pkgbase = tailspin
	pkgdesc = A log file highlighter
	pkgver = 2.3.0
	pkgrel = 1
	url = https://github.com/bensadeh/tailspin
	arch = x86_64
	arch = aarch64
	arch = arm
	arch = armv7h
	arch = armv6h
	license = MIT
	makedepends = cargo
	source = https://github.com/bensadeh/tailspin/archive/2.3.0/tailspin-2.3.0.tar.gz
	sha256sums = f523a9ccf59e6d5ae4bb66a5b0a4d480832f604c09a3c2f4dd00b5efc8f1b03d

pkgname = tailspin
