pkgbase = cargo-insta
	pkgdesc = Cargo plugin for snapshot testing in Rust
	pkgver = 1.36.1
	pkgrel = 1
	url = https://github.com/mitsuhiko/insta
	arch = x86_64
	license = Apache-2.0
	depends = gcc-libs
	depends = cargo
	source = cargo-insta-1.36.1.tar.gz::https://static.crates.io/crates/cargo-insta/cargo-insta-1.36.1.crate
	sha512sums = d5ed286dbded279c26809e62de4b5746d437145c8553a2f091e1a499e80843505bdd9b937ea0f2ecc300f8c2257431567696b541c04130193aefccc23aba895c

pkgname = cargo-insta
