pkgbase = onefetch
	pkgdesc = Git repository summary on your terminal
	pkgver = 2.21.0
	pkgrel = 1
	url = https://github.com/o2sh/onefetch
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = cmake
	makedepends = git
	depends = gcc-libs
	source = git+https://github.com/o2sh/onefetch.git#tag=2.21.0
	sha256sums = 59b66063514a54b2036347b2fa6b29d4f9094d125898376d59e003a1f35a1849

pkgname = onefetch
