pkgbase = bpftop
	pkgdesc = Dynamic real-time view of running eBPF programs
	pkgver = 0.5.1
	pkgrel = 1
	url = https://github.com/Netflix/bpftop
	arch = x86_64
	license = Apache-2.0
	makedepends = cargo
	makedepends = clang
	depends = libelf
	depends = gcc-libs
	depends = zlib
	options = !lto
	source = bpftop-0.5.1.tar.gz::https://github.com/Netflix/bpftop/archive/refs/tags/v0.5.1.zip
	sha256sums = 8b82869af81a4e4709059c200bae99e8b7bd9648d1772ef45ee63f07f90c39a2

pkgname = bpftop
