pkgbase = typos
	pkgdesc = Source code spell checker
	pkgver = 1.23.3
	pkgrel = 1
	url = https://github.com/crate-ci/typos
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	source = typos-1.23.3.tar.gz::https://github.com/crate-ci/typos/archive/refs/tags/v1.23.3.tar.gz
	sha256sums = 091526873a992de80a694fbf1939982250b1b75ca4b86ac8808242c81180230b

pkgname = typos
