pkgbase = typos
	pkgdesc = Source code spell checker
	pkgver = 1.17.2
	pkgrel = 1
	url = https://github.com/crate-ci/typos
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	source = typos-1.17.2.tar.gz::https://github.com/crate-ci/typos/archive/refs/tags/v1.17.2.tar.gz
	sha256sums = 51fbd4a7276394141ef30aae0eb9a394a4602d1e851e29ba406529f964a54053

pkgname = typos
