pkgbase = broot
	pkgdesc = Fuzzy Search + tree + cd
	pkgver = 1.37.0
	pkgrel = 1
	url = https://github.com/Canop/broot
	arch = x86_64
	license = MIT
	makedepends = rust
	depends = gcc-libs
	depends = zlib
	depends = libgit2
	depends = libxcb
	options = !lto
	source = https://github.com/Canop/broot/archive/v1.37.0/broot-v1.37.0.tar.gz
	sha256sums = 59335d101b943a7907ceb1ef2d4cf29e755cdf062d3459ebfc294965d4be0e7d

pkgname = broot
