pkgbase = broot
	pkgdesc = Fuzzy Search + tree + cd
	pkgver = 1.36.1
	pkgrel = 1
	url = https://github.com/Canop/broot
	arch = x86_64
	license = MIT
	makedepends = rust
	depends = gcc-libs
	depends = zlib
	depends = libgit2
	depends = libxcb
	options = !lto
	source = https://github.com/Canop/broot/archive/v1.36.1/broot-v1.36.1.tar.gz
	sha256sums = b52e60a86e3ca38931cf8ed0ccbd4138f12b733c2459ea3088c267a98b8a555b

pkgname = broot
