pkgbase = broot
	pkgdesc = Fuzzy Search + tree + cd
	pkgver = 1.32.0
	pkgrel = 1
	url = https://github.com/Canop/broot
	arch = x86_64
	license = MIT
	makedepends = rust
	depends = gcc-libs
	depends = zlib
	depends = libgit2
	depends = libxcb
	options = !lto
	source = https://github.com/Canop/broot/archive/v1.32.0/broot-v1.32.0.tar.gz
	sha256sums = 0b9bf4a0dfa8a9cdcefcf18222dba4025379a8fa19190075835a99a507ae3d73

pkgname = broot
