pkgbase = tdf
	pkgdesc = A TUI-based PDF viewer
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/itsjunetime/tdf
	arch = x86_64
	license = MPL-2.0
	makedepends = cargo-nightly
	makedepends = clang
	depends = gcc-libs
	depends = glib2
	depends = cairo
	depends = poppler
	depends = poppler-glib
	options = !lto
	source = tdf-0.4.0.tar.gz::https://github.com/itsjunetime/tdf/archive/v0.4.0.tar.gz
	sha256sums = ca0f62e120c1009a9607a02d03df98e6a7ca9e4344a2b1c225d4e47cff052909

pkgname = tdf
