pkgbase = cargo-binstall
	pkgdesc = Binary installation for Rust projects
	pkgver = 1.6.0
	pkgrel = 1
	url = https://github.com/cargo-bins/cargo-binstall
	arch = x86_64
	license = GPL3
	depends = cargo
	depends = gcc-libs
	source = cargo-binstall-1.6.0.tar.gz::https://github.com/cargo-bins/cargo-binstall/archive/v1.6.0.tar.gz
	sha256sums = 325e5de273f7f6f9e0885495611a46cf07fbb1d5396a373e418e4c623a417c2d

pkgname = cargo-binstall
