pkgbase = nvrs
	pkgdesc = Fast new version checker for software releases
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/adamperkowski/nvrs
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	source = nvrs-0.1.1.tar.gz::https://github.com/adamperkowski/nvrs/archive/v0.1.1.tar.gz
	sha512sums = f36cf5e11bb188bf8f1c0d3800b8d2ee2ac60b15e7ede0d0a2eb976005f2b656e1a21ac6747950d715f1fd2de9ae211856570b54392d668fbbc554070b3a79a1

pkgname = nvrs
