pkgbase = nvrs
	pkgdesc = Fast new version checker for software releases
	pkgver = 0.1.7
	pkgrel = 1
	url = https://github.com/adamperkowski/nvrs
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	source = nvrs-0.1.7.tar.gz::https://github.com/adamperkowski/nvrs/archive/v0.1.7.tar.gz
	sha512sums = 990747678c9ec3bc7b878bf201f47d938e1c5e0d387743810334ccc42c8c4f45b59ddcd610e8eeba41572040056c2f6f6d134a6d28e0bc843cec956792fb31fb

pkgname = nvrs
