pkgbase = wasm-bindgen
	pkgdesc = Interoperating JS and Rust code
	pkgver = 0.2.92
	pkgrel = 1
	url = https://github.com/rustwasm/wasm-bindgen
	arch = x86_64
	license = Apache-2.0
	license = MIT
	makedepends = cargo
	depends = rust-wasm
	depends = nodejs
	depends = openssl
	replaces = wasm-bindgen-cli
	options = !lto
	source = wasm-bindgen-0.2.92.tar.gz::https://github.com/rustwasm/wasm-bindgen/archive/0.2.92.tar.gz
	source = Cargo.lock
	sha256sums = dd80811dd5683f0a86a333ab1994e1b39294428cc8e3c9b55d10ffa635c81600
	sha256sums = 3419a14c566339a9746cd9aa22423ae7c3ee3ca96b2def95fac48a4bc6d7c355

pkgname = wasm-bindgen
