pkgbase = wasm-bindgen
	pkgdesc = Interoperating JS and Rust code
	pkgver = 0.2.90
	pkgrel = 1
	url = https://github.com/rustwasm/wasm-bindgen
	arch = x86_64
	license = Apache
	license = MIT
	makedepends = cargo
	depends = rust-wasm
	depends = nodejs
	replaces = wasm-bindgen-cli
	options = !lto
	source = wasm-bindgen-0.2.90.tar.gz::https://github.com/rustwasm/wasm-bindgen/archive/0.2.90.tar.gz
	source = Cargo.lock
	sha256sums = 067c31c2f03e9c6f8365c62d162d19d00e3ebd9bd5fe95586995615c3d820514
	sha256sums = 9cb3407da4f16302d19289697c80c5a2fab7ebdb649927a88f5825f893fba526

pkgname = wasm-bindgen
