pkgbase = cargo-generate
	pkgdesc = Use pre-existing git repositories as templates
	pkgver = 0.20.0
	pkgrel = 1
	url = https://github.com/cargo-generate/cargo-generate
	arch = x86_64
	license = MIT
	license = Apache-2.0
	depends = cargo
	depends = curl
	depends = libgit2
	depends = libssh2
	depends = openssl
	source = cargo-generate-0.20.0.tar.gz::https://github.com/cargo-generate/cargo-generate/archive/v0.20.0.tar.gz
	sha256sums = 7ef6c621fb5487de9b145ea0bc15e06d28964d632e1dab80eaa20f451687c1c2

pkgname = cargo-generate
