pkgbase = cargo-generate
	pkgdesc = Use pre-existing git repositories as templates
	pkgver = 0.19.0
	pkgrel = 2
	url = https://github.com/cargo-generate/cargo-generate
	arch = x86_64
	license = MIT
	license = Apache
	depends = cargo
	depends = curl
	depends = libgit2
	depends = libssh2
	depends = openssl
	source = cargo-generate-0.19.0.tar.gz::https://github.com/cargo-generate/cargo-generate/archive/v0.19.0.tar.gz
	sha256sums = 520e7a98bf82f368e911c14e774f8ef16a4c8ffd785d492c9d518ee563dc3864

pkgname = cargo-generate
