pkgbase = cargo-tauri
	pkgdesc = Command line interface for building Tauri apps
	pkgver = 1.5.10
	pkgrel = 1
	url = https://github.com/tauri-apps/tauri
	arch = x86_64
	license = MIT
	license = Apache-2.0
	depends = cargo
	depends = gcc-libs
	depends = openssl
	depends = bzip2
	depends = libcroco
	depends = libffi
	options = !lto
	source = cargo-tauri-1.5.10.tar.gz::https://github.com/tauri-apps/tauri/archive/tauri-cli-v1.5.10.tar.gz
	sha512sums = 09f657f53cd8c3a8417457e6cf07f6c363a1020f72391a68ee645c585a895e6c36b4d9b9221250494761a26185137e62dc0a6019a16b0d3bcf594922cfc33540

pkgname = cargo-tauri
