pkgbase = rusty-krab-manager
	pkgdesc = Time management TUI
	pkgver = 2
	pkgrel = 1
	url = https://github.com/aryakaul/rusty-krab-manager
	arch = x86_64
	license = custom:ETHICAL
	makedepends = cargo
	depends = alsa-lib
	depends = gcc-libs
	options = !lto
	source = rusty-krab-manager-2.tar.gz::https://github.com/aryakaul/rusty-krab-manager/archive/v2.tar.gz
	sha512sums = 9855ef2cce6874cfbf10e71ff9eab000fafd62c1a1fd28dfda2a5711c56e1037892d349a0b096342283d2fe187367e1e166e0782df670021f27d5e54650d0f99

pkgname = rusty-krab-manager
