pkgbase = netscanner
	pkgdesc = Network scanner
	pkgver = 0.5.2
	pkgrel = 1
	url = https://github.com/Chleba/netscanner
	arch = x86_64
	license = GPL3
	makedepends = cargo
	depends = gcc-libs
	depends = iw
	source = netscanner-0.5.2.tar.gz::https://github.com/Chleba/netscanner/archive/v0.5.2.tar.gz
	sha512sums = f14cf5351e7fde2e2b604d71c844f35d986ab66796bcd53e978735f62fb7d96f5ee156693ff14cdd8d03f2d1da451cca73e1568a60d500d2b15dd53a04038f7d

pkgname = netscanner
