pkgbase = cargo-ndk
	pkgdesc = Compile Rust projects against the Android NDK without hassle
	pkgver = 3.5.6
	pkgrel = 1
	url = https://github.com/bbqsrc/cargo-ndk
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	source = cargo-ndk-3.5.6.tar.gz::https://github.com/bbqsrc/cargo-ndk/archive/v3.5.6.tar.gz
	sha256sums = 1d1832d95edceae5bcefe12e0f821ea1e79af6384f502bfebfa56917f65f36ed

pkgname = cargo-ndk
	depends = gcc-libs
	depends = rustup
