pkgbase = poketex
	pkgdesc = Simple Pokedex based on TUI
	pkgver = 1.14.0
	pkgrel = 1
	url = https://github.com/ckaznable/poketex
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	source = poketex-1.14.0.tar.gz::https://github.com/ckaznable/poketex/archive/v1.14.0.tar.gz
	sha256sums = 37082c8a2f63f44ead7b67667eb2bf20b9d1d38cce46b45150b68b194428f002

pkgname = poketex
