pkgbase = grex
	pkgdesc = A command-line tool for generating regular expressions from user-provided input strings
	pkgver = 1.4.6
	pkgrel = 1
	url = https://github.com/pemistahl/grex
	arch = x86_64
	license = Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	source = grex-1.4.6.tar.gz::https://github.com/pemistahl/grex/archive/v1.4.6.tar.gz
	sha512sums = a00e1591527350747ce33f6525405cfcfdfa1a25e63a59fb9d9025eac8cc6b5b22fd61e91866770f3d2de34ef5a91c9a43137e3f2178ca1961c46b878952bdf9

pkgname = grex
