pkgbase = rust-kanban
	pkgdesc = A kanban board for the terminal
	pkgver = 0.9.6
	pkgrel = 1
	url = https://github.com/yashs662/rust_kanban
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	source = rust-kanban-0.9.6.tar.gz::https://github.com/yashs662/rust_kanban/archive/v0.9.6.tar.gz
	sha512sums = 1e337f88213066c970f87e0cd26a53c10d1fbbefcdf8f7867a9672bf29225ca108151f8c1b7702df45094b3dcab7b9442add507eb230d0850b5c191fa29301dd

pkgname = rust-kanban
