pkgbase = rust-kanban
	pkgdesc = A kanban board for the terminal
	pkgver = 0.10.1
	pkgrel = 1
	url = https://github.com/yashs662/rust_kanban
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	source = rust-kanban-0.10.1.tar.gz::https://github.com/yashs662/rust_kanban/archive/v0.10.1.tar.gz
	sha512sums = 2f9da5c89ed3d93c4d6c3bcc4fc2de26eae123aa27e359fed6f7ad5d537913740dbf34f512495cc3ee44cb006a27e8c9ccf7bb9e76977a334eed695506aff2e4

pkgname = rust-kanban
