pkgbase = presenterm
	pkgdesc = A markdown terminal slideshow tool
	pkgver = 0.7.0
	pkgrel = 1
	url = https://github.com/mfontanini/presenterm
	arch = x86_64
	license = BSD-2-Clause
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = presenterm-0.7.0.tar.gz::https://github.com/mfontanini/presenterm/archive/v0.7.0.tar.gz
	sha512sums = d8a8e8982b0b1a98af138475d8280ae941e9c51f138eb492c4cb5a0b6e94d667ef0026bbeef3630faa6574cdc064210275ef4665b2c4681987ba2cc5b3362aa4

pkgname = presenterm
