pkgbase = oyo
	pkgdesc = A different viewer
	pkgver = 0.1.24
	pkgrel = 1
	url = https://github.com/ahkohd/oyo
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = oniguruma
	source = oyo-0.1.24.tar.gz::https://github.com/ahkohd/oyo/archive/v0.1.24.tar.gz
	sha256sums = 5283d39438fa71e25a096ade1c755ca80f3eb3f2adbadd7b56936e1e83f3f197

pkgname = oyo
