pkgbase = oyo
	pkgdesc = A different viewer
	pkgver = 0.1.26
	pkgrel = 1
	url = https://github.com/ahkohd/oyo
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = oniguruma
	source = oyo-0.1.26.tar.gz::https://github.com/ahkohd/oyo/archive/v0.1.26.tar.gz
	sha256sums = 8f98d7f50fa1026faf051802cb17ca8821974d82595ca127771ea9b4584cf11c

pkgname = oyo
