pkgbase = oyo
	pkgdesc = A different viewer
	pkgver = 0.1.30
	pkgrel = 1
	url = https://github.com/ahkohd/oyo
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = oniguruma
	source = oyo-0.1.30.tar.gz::https://github.com/ahkohd/oyo/archive/v0.1.30.tar.gz
	sha256sums = 9454a46fb1b7189151c3d264df88e6b0569df965f560d47dadc931e861158c2f

pkgname = oyo
