pkgbase = release-plz
	pkgdesc = Release Rust packages without using the command line
	pkgver = 0.3.61
	pkgrel = 1
	url = https://github.com/MarcoIeni/release-plz
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	depends = curl
	depends = libgit2
	depends = openssl
	optdepends = cargo-semver-checks: check for API breaking changes
	options = !lto
	source = release-plz-0.3.61::git+https://github.com/MarcoIeni/release-plz.git#commit=55a2291ea8a63084c50eb07263ced7858dd4f1d3
	sha512sums = 0c212739790f8107267de225105f90d3a409f627ffdcfe7654712a20d0e919fdfe0f78fe5e47d3336156a3c2da41393b18396f5af7f8b5de9397a10e19a27dd2

pkgname = release-plz
