pkgbase = release-plz
	pkgdesc = Release Rust packages without using the command line
	pkgver = 0.3.38
	pkgrel = 1
	url = https://github.com/MarcoIeni/release-plz
	arch = x86_64
	license = MIT
	license = Apache
	checkdepends = git
	makedepends = cargo
	depends = gcc-libs
	depends = curl
	optdepends = cargo-semver-checks: check for API breaking changes
	options = !lto
	source = release-plz-0.3.38.tar.gz::https://github.com/MarcoIeni/release-plz/archive/release-plz-v0.3.38.tar.gz
	sha512sums = 3688dfdb5ebe53fd7ce7329f0fbdf7f5fd52ccdf95ec8eecc983e8e022a42c70cedcefc5bca0c664df4aaf27aac660f0adbc6ac7e4c86d93615069cc5f6c97c0

pkgname = release-plz
