pkgbase = release-plz
	pkgdesc = Release Rust packages without using the command line
	pkgver = 0.3.31
	pkgrel = 1
	url = https://github.com/MarcoIeni/release-plz
	arch = x86_64
	license = MIT
	license = Apache
	checkdepends = git
	makedepends = cargo
	depends = gcc-libs
	depends = curl
	optdepends = cargo-semver-checks: check for API breaking changes
	options = !lto
	source = release-plz-0.3.31.tar.gz::https://github.com/MarcoIeni/release-plz/archive/release-plz-v0.3.31.tar.gz
	sha512sums = 18248c82879ba7905300618da1e47494d03bf937654bd93429f60ac166e1d73c383e8e7ed6848228b2c5eae95b83cdba5944bdcaab51e1ff0dcaba5c727a1c96

pkgname = release-plz
