pkgbase = comchan
	pkgdesc = A blazingly fast minimal serial monitor
	pkgver = 0.6.0
	pkgrel = 1
	url = https://github.com/Vaishnav-Sabari-Girish/ComChan
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = libudev.so
	depends = fontconfig
	source = comchan-0.6.0.tar.gz::https://github.com/Vaishnav-Sabari-Girish/ComChan/archive/v0.6.0.tar.gz
	sha256sums = ff59e1a02c42e52fae4090443c5d9fc7bdec3ab0357598f514b8d811e8de318a

pkgname = comchan
