pkgbase = comchan
	pkgdesc = A blazingly fast minimal serial monitor
	pkgver = 0.3.6
	pkgrel = 1
	url = https://github.com/Vaishnav-Sabari-Girish/ComChan
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = libudev.so
	depends = fontconfig
	source = comchan-0.3.6.tar.gz::https://github.com/Vaishnav-Sabari-Girish/ComChan/archive/v0.3.6.tar.gz
	sha256sums = bf8f8923ce7e7459165a828c153f1dc46347c446139f767249abb1746b3fddfd

pkgname = comchan
