pkgbase = songrec
	pkgdesc = An open-source, unofficial Shazam client for Linux
	pkgver = 0.3.3
	pkgrel = 1
	url = https://github.com/marin-m/SongRec
	arch = x86_64
	license = GPL3
	makedepends = cargo
	makedepends = pkgconf
	makedepends = git
	depends = gtk3
	depends = alsa-lib
	depends = openssl
	depends = ffmpeg
	optdepends = libpulse: PulseAudio support
	options = !lto
	source = songrec-0.3.3.tar.gz::https://github.com/marin-m/SongRec/archive/0.3.3.tar.gz
	sha256sums = 9925fd808393f895ca2e83a2fe283198162d99133d1e76455e43876fa513cd49

pkgname = songrec
