pkgbase = mirro-rs
	pkgdesc = An Arch Linux mirrorlist manager with a TUI
	pkgver = 0.2.3
	pkgrel = 1
	url = https://github.com/rtkay123/mirro-rs
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = mirro-rs-0.2.3.tar.gz::https://github.com/rtkay123/mirro-rs/archive/v0.2.3.tar.gz
	sha512sums = c2f8c790b4d827378e0642721bd69ee17ee57d60dedd3d583ccdc896658205505228b3a2755e5285b8260cb69e43ffc24efb8855de7b6cc47d959428404a174a

pkgname = mirro-rs
