pkgbase = mirro-rs
	pkgdesc = An Arch Linux mirrorlist manager with a TUI
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/rtkay123/mirro-rs
	arch = x86_64
	license = MIT
	license = Apache
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = mirro-rs-0.2.1.tar.gz::https://github.com/rtkay123/mirro-rs/archive/v0.2.1.tar.gz
	sha512sums = 820cf0be8c270f42d40e4b844e02c8ca19b61bdf989ce4a95809d7db5f007a76b847416489436363fa0079f0075b2028e5f6eb2fd926bdf43b216786eb162975

pkgname = mirro-rs
