pkgbase = jumpy
	pkgdesc = Tactical 2D shooter in fishy pixels style
	pkgver = 0.9.4
	pkgrel = 1
	url = https://fishfolk.org/games/jumpy
	arch = x86_64
	license = MIT
	license = Apache
	makedepends = cargo
	makedepends = systemd
	depends = pkg-config
	depends = mesa-libgl
	depends = alsa-lib
	depends = systemd-libs
	depends = libudev.so
	replaces = fishfight
	options = !lto
	source = jumpy-0.9.4.tar.gz::https://github.com/fishfight/jumpy/archive/v0.9.4.tar.gz
	source = jumpy.sh
	sha512sums = 171279a879ab358b2890e6d676b99d464b4e739aece8a045c073a5e2b93ae8e4e4403696893f62655f2b4d7ee7314c8ee9ac613c7d2fa39eea642129d02cd7ea
	sha512sums = c03ee6a44bcbd06618526005f87b4afc8247d6bc08f5a56cc1932546067cc7e4ec0de2def92f427e86888d994f5496bf40187beaca8777b92b2499c306246c71

pkgname = jumpy
