pkgbase = md-tui
	pkgdesc = Markdown renderer in the terminal
	pkgver = 0.8.0
	pkgrel = 1
	url = https://github.com/henriklovhaug/md-tui
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = md-tui-0.8.0.tar.gz::https://github.com/henriklovhaug/md-tui/archive/v0.8.0.tar.gz
	sha256sums = cfddd04034756162a87c048426828d0011e43bd30fc538fed0d44de06f2560b5

pkgname = md-tui
