pkgbase = md-tui
	pkgdesc = Markdown renderer in the terminal
	pkgver = 0.8.2
	pkgrel = 1
	url = https://github.com/henriklovhaug/md-tui
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = md-tui-0.8.2.tar.gz::https://github.com/henriklovhaug/md-tui/archive/v0.8.2.tar.gz
	sha256sums = dcda51b531ebebf9967a519266565e1629176cd0d8ac1f746139f911868a6c50

pkgname = md-tui
