pkgbase = evcxr_repl
	pkgdesc = A Rust REPL based on evcxr
	pkgver = 0.16.0
	pkgrel = 1
	url = https://github.com/evcxr/evcxr
	arch = x86_64
	license = Apache
	depends = gcc-libs
	depends = rust-src
	options = !lto
	source = evcxr_repl-0.16.0.tar.gz::https://github.com/evcxr/evcxr/archive/v0.16.0.tar.gz
	sha256sums = ecd00c839a487cea5260bfc75c78ceba51e7215044b962081d7641c1292643bf

pkgname = evcxr_repl
