pkgbase = cargo-make
	pkgdesc = Rust task runner and build tool
	pkgver = 0.37.14
	pkgrel = 1
	url = https://github.com/sagiegurari/cargo-make
	arch = x86_64
	license = Apache-2.0
	depends = cargo
	depends = gcc-libs
	depends = openssl
	depends = bzip2
	options = !lto
	source = cargo-make-0.37.14.tar.gz::https://github.com/sagiegurari/cargo-make/archive/0.37.14.tar.gz
	sha256sums = 954ba24bd4aaf3e731e8bb4601e94cf491397bb394c1a71ef0908530477b62fc

pkgname = cargo-make
