pkgbase = cargo-make
	pkgdesc = Rust task runner and build tool
	pkgver = 0.37.7
	pkgrel = 1
	url = https://github.com/sagiegurari/cargo-make
	arch = x86_64
	license = Apache
	depends = cargo
	depends = gcc-libs
	depends = openssl
	depends = bzip2
	options = !lto
	source = cargo-make-0.37.7.tar.gz::https://github.com/sagiegurari/cargo-make/archive/0.37.7.tar.gz
	sha256sums = 5ade7f3d882d28a8257711c4825448debec11ed67e64a5719b4fd4ab08a6ae18

pkgname = cargo-make
