pkgbase = cargo-make
	pkgdesc = Rust task runner and build tool
	pkgver = 0.37.11
	pkgrel = 1
	url = https://github.com/sagiegurari/cargo-make
	arch = x86_64
	license = Apache-2.0
	depends = cargo
	depends = gcc-libs
	depends = openssl
	depends = bzip2
	options = !lto
	source = cargo-make-0.37.11.tar.gz::https://github.com/sagiegurari/cargo-make/archive/0.37.11.tar.gz
	sha256sums = c4f36ed50ee2f6786a29c20567a70aedca5e0e101a7388f44de1ba5445f3ec3e

pkgname = cargo-make
