pkgbase = openapi-tui
	pkgdesc = Terminal UI to list, browse and run APIs defined with OpenAPI spec
	pkgver = 0.8.0
	pkgrel = 1
	url = https://github.com/zaghaghi/openapi-tui
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = openapi-tui-0.8.0.tar.gz::https://github.com/zaghaghi/openapi-tui/archive/0.8.0.tar.gz
	sha256sums = 4c5b2b475909d7219cf5cc774ba8c6cb181fd17ec1ef90abf8f216a77767f241

pkgname = openapi-tui
