pkgbase = openapi-tui
	pkgdesc = Terminal UI to list, browse and run APIs defined with OpenAPI spec
	pkgver = 0.9.1
	pkgrel = 1
	url = https://github.com/zaghaghi/openapi-tui
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = openapi-tui-0.9.1.tar.gz::https://github.com/zaghaghi/openapi-tui/archive/0.9.1.tar.gz
	sha256sums = 99301749856e7e34fc27e45909db592cf514be69794244871af505bfe09403fa

pkgname = openapi-tui
