pkgbase = dra
	pkgdesc = A command line tool to download assets from GitHub releases
	pkgver = 0.5.1
	pkgrel = 1
	url = https://github.com/devmatteini/dra
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = xz
	depends = zlib
	depends = bzip2
	options = !lto
	source = dra-0.5.1.tar.gz::https://github.com/devmatteini/dra/archive/0.5.1.tar.gz
	sha512sums = 512ce565d474207dd8c8a90080a4c116b0260393b94a7ad94d2576e595f08d72bfc8792513e3d1a048a2ed72ae847094ffbab9b9829bd5a6168106d736874d15

pkgname = dra
