pkgbase = cargo-public-api
	pkgdesc = List and diff the public API of Rust library crates
	pkgver = 0.36.0
	pkgrel = 1
	url = https://github.com/Enselic/cargo-public-api
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = libgit2
	options = !lto
	source = cargo-public-api-0.36.0.tar.gz::https://github.com/Enselic/cargo-public-api/archive/v0.36.0.tar.gz
	sha512sums = 6dfe6a413cba912130d400bca6ab0b864ab621bf6348a35c6dec51ef11e574a29f254dc83f5a61312cc9390d49c451f4ca444ddf4bc9cf95dd6af2c6b3faf584

pkgname = cargo-public-api
	depends = gcc-libs
	depends = libgit2
	depends = rustup
