pkgbase = cargo-public-api
	pkgdesc = List and diff the public API of Rust library crates
	pkgver = 0.35.1
	pkgrel = 1
	url = https://github.com/Enselic/cargo-public-api
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = libgit2
	options = !lto
	source = cargo-public-api-0.35.1.tar.gz::https://github.com/Enselic/cargo-public-api/archive/v0.35.1.tar.gz
	sha512sums = 21f7595fbcd8e29d00ae58cfad8cfd0da09b61207373a0ae7fcb4c66d2e3064733d0be4fb847cf7a190ffa4946226628839fb985133f3761558b264b305524c8

pkgname = cargo-public-api
	depends = gcc-libs
	depends = libgit2
	depends = rustup
