pkgbase = cargo-public-api
	pkgdesc = List and diff the public API of Rust library crates
	pkgver = 0.34.2
	pkgrel = 1
	url = https://github.com/Enselic/cargo-public-api
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = libgit2
	options = !lto
	source = cargo-public-api-0.34.2.tar.gz::https://github.com/Enselic/cargo-public-api/archive/v0.34.2.tar.gz
	sha512sums = 9d0b47b665d6ad132bb58fe232e9f1b3be0d6de29af0c7923cde7859865afdfdb9391c9465943f184a83c4bc5770d4b1fced2c393b28efb5288dd529a8933074

pkgname = cargo-public-api
	depends = gcc-libs
	depends = libgit2
	depends = rustup
