pkgbase = cargo-auditable
	pkgdesc = A cargo-subcommand to make production Rust binaries auditable
	pkgver = 0.6.2
	pkgrel = 1
	url = https://github.com/rust-secure-code/cargo-auditable
	arch = x86_64
	license = Apache-2.0
	license = MIT
	depends = cargo
	depends = gcc-libs
	source = cargo-auditable-0.6.2.tar.gz::https://github.com/rust-secure-code/cargo-auditable/archive/v0.6.2.tar.gz
	sha512sums = 3656f124d8e43fbb4518d9aa3ad9e40a7cae61c56fa4718e9ff886934b2fcb5b2f116551c63ca17712c203ac93daf2b28a22efe41e556013189dec0ad9248f1f

pkgname = cargo-auditable
