pkgbase = cargo-spellcheck
	pkgdesc = Checks all your documentation for spelling and grammar mistakes
	pkgver = 0.13.2
	pkgrel = 1
	url = https://github.com/drahnr/cargo-spellcheck
	arch = x86_64
	license = MIT
	license = Apache
	makedepends = clang
	makedepends = hunspell-en_US
	depends = cargo
	depends = hunspell
	options = !lto
	source = cargo-spellcheck-0.13.2.tar.gz::https://github.com/drahnr/cargo-spellcheck/archive/v0.13.2.tar.gz
	sha256sums = b567614f5dcb9e0a9f39b18f59266363b0b24713b0a576eaec9553218e6f9332

pkgname = cargo-spellcheck
