pkgbase = cargo-dist
	pkgdesc = Shippable application packaging for Rust
	pkgver = 0.10.0
	pkgrel = 1
	url = https://github.com/axodotdev/cargo-dist
	arch = x86_64
	license = Apache-2.0
	license = MIT
	checkdepends = git
	depends = cargo
	depends = xz
	depends = bzip2
	options = !lto
	source = cargo-dist-0.10.0.tar.gz::https://github.com/axodotdev/cargo-dist/archive/v0.10.0.tar.gz
	sha256sums = 195b7967cc7b0bd064a92a2993a32b28c8bd76a4ed00202291a0a1f0bd47da45

pkgname = cargo-dist
