pkgbase = cargo-dist
	pkgdesc = Shippable application packaging for Rust
	pkgver = 0.15.1
	pkgrel = 1
	url = https://github.com/axodotdev/cargo-dist
	arch = x86_64
	license = Apache-2.0
	license = MIT
	checkdepends = git
	depends = cargo
	depends = xz
	depends = bzip2
	options = !lto
	source = cargo-dist-0.15.1.tar.gz::https://github.com/axodotdev/cargo-dist/archive/v0.15.1.tar.gz
	sha256sums = 680c8801f0a2133ccf23593715efc1430c613aa1cc409382489fc67cbf2f813b

pkgname = cargo-dist
