pkgbase = cargo-dist
	pkgdesc = Shippable application packaging for Rust
	pkgver = 0.19.1
	pkgrel = 1
	url = https://github.com/axodotdev/cargo-dist
	arch = x86_64
	license = Apache-2.0
	license = MIT
	checkdepends = git
	depends = cargo
	depends = xz
	depends = bzip2
	options = !lto
	source = cargo-dist-0.19.1.tar.gz::https://github.com/axodotdev/cargo-dist/archive/v0.19.1.tar.gz
	sha256sums = 28e3ca2d7a62b5070e0e90178a0c4b97926c897d8998b19f4ae3e2c2793f6646

pkgname = cargo-dist
