pkgbase = clipcat
	pkgdesc = A clipboard manager
	pkgver = 0.18.1
	pkgrel = 1
	url = https://github.com/xrelkd/clipcat
	arch = x86_64
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = libgit2
	makedepends = protobuf
	depends = gcc-libs
	options = !lto
	source = clipcat-0.18.1.tar.gz::https://github.com/xrelkd/clipcat/archive/refs/tags/v0.18.1.tar.gz
	sha256sums = 79cc7cd3561baff518a73a4af0388dfa33a9c062273452930fff9549c0949c49

pkgname = clipcat
