pkgbase = dua-cli
	pkgdesc = A tool to conveniently learn about the disk usage of directories, fast!
	pkgver = 2.27.2
	pkgrel = 1
	url = https://github.com/Byron/dua-cli
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	source = dua-cli-2.27.2.tar.gz::https://github.com/Byron/dua-cli/archive/v2.27.2.tar.gz
	sha512sums = 44d89a53e62f97c6236851ebaf5628ceb97038a06485a118451987abb8f10c5362f5724f670d5bf5383378341d8e7e175a7c758c22b05ca44dd2154ef06b687b

pkgname = dua-cli
