pkgbase = dua-cli
	pkgdesc = A tool to conveniently learn about the disk usage of directories, fast!
	pkgver = 2.27.0
	pkgrel = 1
	url = https://github.com/Byron/dua-cli
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	source = dua-cli-2.27.0.tar.gz::https://github.com/Byron/dua-cli/archive/v2.27.0.tar.gz
	sha512sums = 8c384d04287ff3445c52d429ece8ca8f54217eee68c2d3cca456883cce8c58f066ac38fdd2130c891023273a81ede7e4bb62efbdf3b1fb0c5db0bfd0df315e96

pkgname = dua-cli
