pkgbase = dua-cli
	pkgdesc = A tool to conveniently learn about the disk usage of directories, fast!
	pkgver = 2.29.0
	pkgrel = 1
	url = https://github.com/Byron/dua-cli
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	source = dua-cli-2.29.0.tar.gz::https://github.com/Byron/dua-cli/archive/v2.29.0.tar.gz
	sha512sums = 257a839f43c4f9155b819e6a1c6e268513ef9c53a49731234d3344c130276c7e724cc32b3545342d36459d892459568c78444f826f805aa6f34cf78aa8c498b8

pkgname = dua-cli
