pkgbase = uutils-coreutils
	pkgdesc = Cross-platform Rust rewrite of the GNU coreutils
	pkgver = 0.0.24
	pkgrel = 1
	url = https://github.com/uutils/coreutils
	arch = x86_64
	license = MIT
	makedepends = rust
	makedepends = cargo
	makedepends = python-sphinx
	depends = glibc
	depends = gcc-libs
	options = !lto
	source = uutils-coreutils-0.0.24.tar.gz::https://github.com/uutils/coreutils/archive/0.0.24.tar.gz
	sha512sums = da9028effede4e925263244f0fdcfdd13f4d44a4baf2da57df090aad8c3821b880a10dbb74d8e1e2958f324299f63ebdbd1bb068895c000835b1bb12fcccc599

pkgname = uutils-coreutils
