pkgbase = uutils-coreutils
	pkgdesc = Cross-platform Rust rewrite of the GNU coreutils
	pkgver = 0.0.26
	pkgrel = 1
	url = https://uutils.github.io/
	arch = x86_64
	license = MIT
	makedepends = rust
	makedepends = cargo
	makedepends = python-sphinx
	depends = glibc
	depends = gcc-libs
	depends = oniguruma
	options = !lto
	source = uutils-coreutils-0.0.26.tar.gz::https://github.com/uutils/coreutils/archive/0.0.26.tar.gz
	sha512sums = ba3eb06b4a11ba1adbe28fd53282827a148a3dd616db06230f7d31810418fd80f024e55ecd29ff2556b307f146bd99b083bd337912a900e7190db1c32bdf5cb0

pkgname = uutils-coreutils
