pkgbase = caligula
	pkgdesc = A user-friendly, lightweight TUI for disk imaging
	pkgver = 0.4.4
	pkgrel = 1
	url = https://github.com/ifd3f/caligula
	arch = x86_64
	license = GPL-3.0
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = caligula-0.4.4.tar.gz::https://github.com/ifd3f/caligula/archive/v0.4.4.tar.gz
	sha512sums = 8734b66d9c738076053bf5a707a0811c593b0920e9b87e7be0a4172c77b43ccde7185f552c03726d03151dbb7e01011092eb00512db800a83cd40c3c1efef35d

pkgname = caligula
