pkgbase = caligula
	pkgdesc = A user-friendly, lightweight TUI for disk imaging
	pkgver = 0.4.6
	pkgrel = 1
	url = https://github.com/ifd3f/caligula
	arch = x86_64
	license = GPL-3.0
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = caligula-0.4.6.tar.gz::https://github.com/ifd3f/caligula/archive/v0.4.6.tar.gz
	sha512sums = 41309639ea78d3377ae9b64dbefa34d482824e39f99afa9d9e63b123107fdf02384376314937466a02428d66cbd684914ffd7fc9c95c7c7cdf92e2f7b6c85fe6

pkgname = caligula
