pkgbase = slumber
	pkgdesc = Terminal-based REST client
	pkgver = 0.13.1
	pkgrel = 1
	url = https://github.com/LucasPickering/slumber
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = slumber-0.13.1.tar.gz::https://github.com/LucasPickering/slumber/archive/v0.13.1.tar.gz
	sha256sums = cf562576ba8dcd69738513b8622a1ebc18072a9f4fc71bcdb6657bb34f132b53

pkgname = slumber
