pkgbase = slumber
	pkgdesc = Terminal-based REST client
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/LucasPickering/slumber
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = slumber-1.0.1.tar.gz::https://github.com/LucasPickering/slumber/archive/v1.0.1.tar.gz
	sha256sums = e9c281c300c5afe37dcd84e85931c45b334861ebd45f9a7e5f31c5309a1a9447

pkgname = slumber
