pkgbase = slumber
	pkgdesc = Terminal-based REST client
	pkgver = 0.18.0
	pkgrel = 1
	url = https://github.com/LucasPickering/slumber
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = slumber-0.18.0.tar.gz::https://github.com/LucasPickering/slumber/archive/v0.18.0.tar.gz
	sha256sums = cf443b77daba4faba018ffa60db6c7a77b5ca9ba98f81235d72fb73ebbc33f1b

pkgname = slumber
