pkgbase = ssh-list
	pkgdesc = A SSH connection manager with a TUI interface
	pkgver = 1.5.1
	pkgrel = 1
	url = https://github.com/akinoiro/ssh-list
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	depends = gcc-libs
	source = ssh-list-1.5.1.tar.gz::https://github.com/akinoiro/ssh-list/archive/v1.5.1.tar.gz
	sha256sums = f5f308ff56b8689402e52242b4644817ce690f7341685adbd6ab33c31766d677

pkgname = ssh-list
