pkgbase = csvlens
	pkgdesc = Command line csv viewer
	pkgver = 0.9.0
	pkgrel = 1
	url = https://github.com/YS-L/csvlens
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	source = csvlens-0.9.0.tar.gz::https://github.com/YS-L/csvlens/archive/v0.9.0.tar.gz
	sha256sums = 6a2c19d9282cad1c8bc201deb9f3f3d254c9ba43dc6408031a1e3ca5aa05e196

pkgname = csvlens
