pkgbase = qrtool
	pkgdesc = An utility for encoding or decoding QR code
	pkgver = 0.11.3
	pkgrel = 1
	url = https://github.com/sorairolake/qrtool
	arch = x86_64
	license = MIT
	license = Apache-2.0
	license = CC-BY-4.0
	makedepends = cargo
	makedepends = asciidoctor
	depends = gcc-libs
	options = !lto
	source = qrtool-0.11.3.tar.gz::https://github.com/sorairolake/qrtool/archive/v0.11.3.tar.gz
	sha512sums = 91dcc214500ee64b36822c1c1b2c7bfdb1e9cad7e75c2c8e901cf733c85d11c596346487645998ad16113435e1a40447259066b3c550fc0013b9f685507ec219

pkgname = qrtool
