pkgbase = kondo
	pkgdesc = Save disk space by cleaning non-essential files from software projects
	pkgver = 0.8
	pkgrel = 1
	url = https://github.com/tbillington/kondo
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = pango
	makedepends = gdk-pixbuf2
	makedepends = gtk3
	depends = gcc-libs
	options = !lto
	source = kondo-0.8.tar.gz::https://github.com/tbillington/kondo/archive/v0.8.tar.gz
	source = kondo-0.8-cargo-lock.patch::https://github.com/tbillington/kondo/commit/249db58bf90b9603fd903879ebff8ba94d47c3cf.patch
	sha512sums = 62cf51c7db440fa36d33206759a60b084a1c98fc718988cfa01c417ad1eb4e6a930e3c66e83d2ae9fc169acb93c98ed18fe8cf4ca3ab5a40d2adbfa27363f9a0
	sha512sums = ba045232153b80fb177ad26d4d6b298f7043ee729f01a0cb3cb8c80ebed4434d5b71761678f77ba2b8a7e523e8ea2bc3434ef5f6f258f36e6b15c37833fe64d1

pkgname = kondo

pkgname = kondo-ui
	pkgdesc = Save disk space by cleaning non-essential files from software projects (UI)
	depends = gcc-libs
	depends = glib2
	depends = cairo
	depends = gtk3
