pkgbase = cargo-llvm-cov
	pkgdesc = Cargo subcommand to easily use LLVM source-based code coverage (-Z instrument-coverage).
	pkgver = 0.5.35
	pkgrel = 1
	url = https://github.com/taiki-e/cargo-llvm-cov
	arch = x86_64
	license = MIT
	license = Apache
	makedepends = cargo
	depends = gcc-libs
	source = cargo-llvm-cov-0.5.35.tar.gz::https://github.com/taiki-e/cargo-llvm-cov/archive/v0.5.35.tar.gz
	source = Cargo.lock
	sha256sums = afbe72aa5c61ec79cbc70a0bbe21f10fbb1aa9cbcc5d259abe564ddf01662f7a
	sha256sums = 3e909dc7962f9abb321e38d102215cd43ec14add2b659986cd87bc8e5b9acc07

pkgname = cargo-llvm-cov
