pkgbase = felix-rs
	pkgdesc = A TUI file manager with Vim-like key mapping
	pkgver = 2.13.0
	pkgrel = 1
	url = https://github.com/kyoheiu/felix
	install = felix-rs.install
	arch = x86_64
	license = MIT
	checkdepends = zoxide
	makedepends = cargo
	depends = gcc-libs
	depends = bzip2
	optdepends = chafa: preview images
	optdepends = zoxide: jump to directories
	optdepends = bat: syntax highlighting
	options = !lto
	source = felix-rs-2.13.0.tar.gz::https://github.com/kyoheiu/felix/archive/v2.13.0.tar.gz
	source = felix-rs-2.13.0-cargo-lock.patch::https://github.com/kyoheiu/felix/commit/5085b147103878ee8138d4fcf7b204223ba2c3eb.patch
	sha512sums = 545ccf207abbc606ea428edc363067c1976b34d54a0a175bb1cc60406b87b581ae68b1445735655e2ef24ad49a357b6e66f735f52e197f5a55b0bb8998c4ba89
	sha512sums = d2849f8b048c5956011fd6d99606617a0a3b78065db356f70b72ca27848aa2a27d292d4ebeda361bfe1bf262e1400983fb05d9bd4d6747ec71c8cde1e520504b

pkgname = felix-rs
