pkgbase = felix-rs
	pkgdesc = A TUI file manager with Vim-like key mapping
	pkgver = 2.12.1
	pkgrel = 1
	url = https://github.com/kyoheiu/felix
	install = felix-rs.install
	arch = x86_64
	license = MIT
	checkdepends = zoxide
	makedepends = cargo
	depends = gcc-libs
	depends = bzip2
	optdepends = chafa: preview images
	optdepends = zoxide: jump to directories
	optdepends = bat: syntax highlighting
	options = !lto
	source = felix-rs-2.12.1.tar.gz::https://github.com/kyoheiu/felix/archive/v2.12.1.tar.gz
	sha512sums = 30ff3277d7e9c0c90387a91ed6c50ab1949905ccd645e9e95d2a56a0fd919e9e8bbb69ce4b72525f0e8ed775882840f3829e4387a39a2d2e760d8d1245d7e8c8

pkgname = felix-rs
