pkgbase = cargo-show-asm
	pkgdesc = Cargo subcommand to display ASM, LLVM-IR and MIR for Rust source code
	pkgver = 0.2.32
	pkgrel = 1
	url = https://github.com/pacak/cargo-show-asm
	arch = x86_64
	license = Apache-2.0
	license = MIT
	depends = cargo
	depends = rust-src
	depends = gcc-libs
	conflicts = cargo-asm
	source = cargo-show-asm-0.2.32.tar.gz::https://github.com/pacak/cargo-show-asm/archive/0.2.32.tar.gz
	sha256sums = f992bb1ff535c007f6143b5a31b6738d94fc1d1b6fa19379312a6c6209eae037

pkgname = cargo-show-asm
