pkgbase = cargo-show-asm
	pkgdesc = Cargo subcommand to display ASM, LLVM-IR and MIR for Rust source code
	pkgver = 0.2.25
	pkgrel = 1
	url = https://github.com/pacak/cargo-show-asm
	arch = x86_64
	license = Apache
	license = MIT
	depends = cargo
	depends = rust-src
	depends = gcc-libs
	conflicts = cargo-asm
	source = cargo-show-asm-0.2.25.tar.gz::https://github.com/pacak/cargo-show-asm/archive/0.2.25.tar.gz
	sha256sums = 94dca48b3906e0b346040fa5d6d9824b0f0e59a969bbfeb7a659a2afb08d7ec2

pkgname = cargo-show-asm
