pkgbase = hex
	pkgdesc = Futuristic take on hexdump
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/sitkevij/hex
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	source = hex-0.5.0.tar.gz::https://github.com/sitkevij/hex/archive/v0.5.0.tar.gz
	sha512sums = f69f55a911a7417ac80b7e6a3d53efba5af9f086045547a7f8308692624a4757b9171f7cd8b815b15fe4461c9318df17185e0d423b9b8dde571088947fa8f8fd

pkgname = hex
