pkgbase = pixi
	pkgdesc = A package management and workflow tool
	pkgver = 0.17.0
	pkgrel = 1
	url = https://github.com/prefix-dev/pixi
	arch = x86_64
	license = BSD
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	depends = bzip2
	options = !lto
	source = pixi-0.17.0.tar.gz::https://github.com/prefix-dev/pixi/archive/v0.17.0.tar.gz
	sha512sums = 16e8fd4fe9143b99e8c0168108accb4d663e704ed94d95b1746e53d22eec01ae91f77f7e7cce7458728ee13e72935f3872dbf97db4c2a93f29917573ab36811e

pkgname = pixi
