pkgbase = pixi
	pkgdesc = A package management and workflow tool
	pkgver = 0.15.1
	pkgrel = 1
	url = https://github.com/prefix-dev/pixi
	arch = x86_64
	license = BSD
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	depends = bzip2
	options = !lto
	source = pixi-0.15.1.tar.gz::https://github.com/prefix-dev/pixi/archive/v0.15.1.tar.gz
	sha512sums = b8af1e35cd30142e0868e0798db4d06238fc0b87d07d4580fb6a12f82863aa7e20b98b8f342394b0631771455c88a704bedd88e679521581fb92d2c511213226

pkgname = pixi
