pkgbase = pixi
	pkgdesc = A package management and workflow tool
	pkgver = 0.20.1
	pkgrel = 1
	url = https://github.com/prefix-dev/pixi
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	depends = bzip2
	options = !lto
	source = pixi-0.20.1.tar.gz::https://github.com/prefix-dev/pixi/archive/v0.20.1.tar.gz
	sha512sums = 4dc393e0086fb0bf8f8b086877368eca5bba8a17d154f97a9f2bc8077c51552b622c35b9dbd9bb721d849ad034ec12774a7cd13aa25e583bf67b3553b850ab0a

pkgname = pixi
