pkgbase = twitch-tui
	pkgdesc = Twitch chat in the terminal
	pkgver = 2.6.11
	pkgrel = 1
	url = https://github.com/Xithrius/twitch-tui
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	options = !lto
	source = twitch-tui-2.6.11.tar.gz::https://github.com/Xithrius/twitch-tui/archive/v2.6.11.tar.gz
	sha512sums = 3e1c6f22c30ed95aad6cfdf4a1d095b24dbfb1209b2f9673ade7d908f49139c2d51354664efb49b3d91da0384bb0c15bfcbee2b9899f7fadd66ef97bb1c8a88d

pkgname = twitch-tui
