pkgbase = twitch-tui
	pkgdesc = Twitch chat in the terminal
	pkgver = 2.6.10
	pkgrel = 1
	url = https://github.com/Xithrius/twitch-tui
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	options = !lto
	source = twitch-tui-2.6.10.tar.gz::https://github.com/Xithrius/twitch-tui/archive/v2.6.10.tar.gz
	sha512sums = 3da206f93bb98bd78c4885b323863f745d9d73ce0fc03b5b90c3d0b7c3154d3c49c5ba5c483672a834d6e49ceb7d5f6eba097f2af660909ca6d2680dbd1dc3d3

pkgname = twitch-tui
