pkgbase = tracexec
	pkgdesc = A small utility for tracing execve{,at} and pre-exec behavior
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/kxxt/tracexec
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = cargo
	makedepends = cargo-about
	makedepends = git
	depends = gcc-libs
	source = tracexec-0.4.0::git+https://github.com/kxxt/tracexec.git#tag=v0.4.0
	b2sums = afb62345eae21053bd4f18767319242cc58bda00880d44783ff422e7b59d9af7f5c8ab1ac89f3817323569ee922611d3a9ded0248a11be2a658965fbec610b6d

pkgname = tracexec
