pkgbase = tracexec
	pkgdesc = A small utility for tracing execve{,at} and pre-exec behavior
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/kxxt/tracexec
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = cargo
	makedepends = cargo-about
	makedepends = git
	depends = gcc-libs
	source = tracexec-0.3.0::git+https://github.com/kxxt/tracexec.git#tag=v0.3.0
	b2sums = d06df4fc6e42ef302fa5a07e232111f93226b2b5958082f44c75cf8965586778b96eb4ba79211ebddd80ae1f36574e502f883c4dad78ce24c17ae5f9c6fc87d2

pkgname = tracexec
