pkgbase = tracexec
	pkgdesc = A small utility for tracing execve{,at} and pre-exec behavior
	pkgver = 0.5.1
	pkgrel = 1
	url = https://github.com/kxxt/tracexec
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = cargo
	makedepends = cargo-about
	makedepends = git
	depends = gcc-libs
	source = tracexec-0.5.1::git+https://github.com/kxxt/tracexec.git#tag=v0.5.1
	b2sums = 56b7f025caf81f5e9cc44e784a5b44247bac389235662f3bc2341c5b5da863f35bd8b202b79ba252f9d869d50c36ed711754f00d277dbc530d940b31e01ff3dd

pkgname = tracexec
