pkgbase = procs
	pkgdesc = A modern replacement for ps written in Rust
	pkgver = 0.14.5
	pkgrel = 3
	url = https://github.com/dalance/procs
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = asciidoctor
	depends = gcc-libs
	depends = glibc
	source = https://github.com/dalance/procs/archive/v0.14.5/procs-0.14.5.tar.gz
	sha256sums = 539b88565c775a106063da5cc5148cfdc7e010534f3dbc90cb8f6317d51ca96b

pkgname = procs
