pkgbase = flawz
	pkgdesc = A Terminal UI for browsing security vulnerabilities (CVEs)
	pkgver = 0.2.2
	pkgrel = 1
	url = https://github.com/orhun/flawz
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	depends = sqlite
	source = flawz-0.2.2.tar.gz::https://github.com/orhun/flawz/archive/v0.2.2.tar.gz
	sha512sums = 2bafb659cf88239d6d3dbc97d369157c49bf49ed20f5f5cb82b3fc9f276c375b3fcd028584fc91f8e814cee272704673853a155dadbecf9726a35d70cd20ed77

pkgname = flawz
