pkgbase = cargo-hack
	pkgdesc = A cargo subcommand to provide various options useful for testing and CI
	pkgver = 0.6.16
	pkgrel = 1
	url = https://github.com/taiki-e/cargo-hack
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	source = cargo-hack::git+https://github.com/taiki-e/cargo-hack.git#commit=aa4518a8eb3ffa9c0777d0e3d0600d57883f5fff
	source = Cargo.lock
	sha512sums = SKIP
	sha512sums = 1043c22096c909b6ebc463a10f13ac95a76f0f78942fe49cab0c046b4be95e5026e09e2dd64d675572a315f9a4736fda8da927b0931f248814635751b015a939

pkgname = cargo-hack
	depends = gcc-libs
	depends = rustup
