pkgbase = cargo-hack
	pkgdesc = A cargo subcommand to provide various options useful for testing and CI
	pkgver = 0.6.20
	pkgrel = 1
	url = https://github.com/taiki-e/cargo-hack
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	source = cargo-hack::git+https://github.com/taiki-e/cargo-hack.git#commit=fa9f3ee5d441d2792a24ed50123ab753f4b28af6
	source = Cargo.lock
	sha512sums = SKIP
	sha512sums = c58c3c410de7efb630a3be82a4be7fe1f38b576d1697a46dd694774e0608a5bc45710c093e7d6babb701aad87a199893075306d37338ab329f12c8f95db042e2

pkgname = cargo-hack
	depends = gcc-libs
	depends = rustup
