pkgbase = cargo-hack
	pkgdesc = A cargo subcommand to provide various options useful for testing and CI
	pkgver = 0.6.14
	pkgrel = 1
	url = https://github.com/taiki-e/cargo-hack
	arch = x86_64
	license = MIT
	license = Apache
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	source = cargo-hack::git+https://github.com/taiki-e/cargo-hack.git#commit=71bdd924c638fa1d56d05840ce42530355f4ca46
	source = Cargo.lock
	sha512sums = SKIP
	sha512sums = e7d3b8539fc04da2a15087f3cdc3b90aece8fcefe6f50af9062001fc43af412b2db8d147e5e0117f0f1bac3bbe508dfea0b3dec0d73074d2823cbaf6a694127a

pkgname = cargo-hack
