pkgbase = rye
	pkgdesc = An experimental alternative to poetry, pip, pipenv, venv, virtualenv, pdm, hatch
	pkgver = 0.33.0
	pkgrel = 1
	url = https://github.com/astral-sh/rye
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = zlib
	depends = bzip2
	depends = openssl
	depends = gcc-libs
	depends = libxcrypt-compat
	options = !lto
	source = rye-0.33.0::git+https://github.com/astral-sh/rye.git#commit=58523f69f6d6762af152820110e918354eefcfdc
	sha512sums = 808fb89ccc6adf9bdb0c1816df3d49f84f859aa406c21ea788b6cd9a902eccd6d7a4d90e16d5caaff6750900e388be6ede26aa562ebd6fe3a946b6b2bd10ee9a

pkgname = rye
