pkgbase = rye
	pkgdesc = An experimental alternative to poetry, pip, pipenv, venv, virtualenv, pdm, hatch
	pkgver = 0.44.0
	pkgrel = 2
	url = https://github.com/astral-sh/rye
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = zlib
	depends = bzip2
	depends = openssl
	depends = gcc-libs
	depends = libxcrypt-compat
	options = !lto
	source = rye-0.44.0::git+https://github.com/astral-sh/rye.git#commit=e213938342cd08553a7672a417c4fa821c4d7172
	sha512sums = 13ad2baf351fc0384c4f73f49913fb75bc582a8f81a062b44f0df31b445d806ec8b20060c02bfbe6c7df6aca5011020bec2156ce435870066fd6ae0cc2573433

pkgname = rye
