pkgbase = rye
	pkgdesc = An experimental alternative to poetry, pip, pipenv, venv, virtualenv, pdm, hatch
	pkgver = 0.21.0
	pkgrel = 1
	url = https://github.com/mitsuhiko/rye
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = zlib
	depends = bzip2
	depends = openssl
	depends = gcc-libs
	depends = libxcrypt-compat
	options = !lto
	source = rye::git+https://github.com/mitsuhiko/rye.git#commit=2e0e024594af3e990c2c2fe11ff5b82a5c2d78c7
	sha512sums = SKIP

pkgname = rye
