pkgbase = bmm
	pkgdesc = Get to your bookmarks in a flash
	pkgver = 0.3.1
	pkgrel = 1
	url = https://github.com/dhth/bmm
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = sqlite
	depends = gcc-libs
	options = !lto
	source = bmm-0.3.1.tar.gz::https://github.com/dhth/bmm/archive/v0.3.1.tar.gz
	sha256sums = 5788da0b773bec563d78b5db347e3f365057ec23878541c40fad87eafd226ee1

pkgname = bmm
