pkgbase = cargo-update
	pkgdesc = A cargo subcommand for checking and applying updates to installed executables
	pkgver = 13.4.0
	pkgrel = 1
	url = https://github.com/nabijaczleweli/cargo-update
	arch = x86_64
	license = MIT
	depends = cargo
	depends = gcc-libs
	depends = zlib
	depends = openssl
	options = !lto
	source = cargo-update-13.4.0.tar.gz::https://github.com/nabijaczleweli/cargo-update/archive/v13.4.0.tar.gz
	source = Cargo.lock
	sha256sums = 6213e98757b0c9c2b370cf75af5070e9f05523dc3fe17fabe219fe31b9daca6b
	sha256sums = 3808ba7c60b8f8fb83890572c6e97c2f3aa9dd1d589d9dfc76a3100ccb4661af

pkgname = cargo-update
