pkgbase = uv
	pkgdesc = An extremely fast Python package installer and resolver written in Rust
	pkgver = 0.1.7
	pkgrel = 1
	url = https://github.com/astral-sh/uv
	arch = x86_64
	license = MIT
	license = Apache-2.0
	checkdepends = python
	checkdepends = python-zstandard
	checkdepends = libxcrypt-compat
	checkdepends = clang
	makedepends = cargo
	makedepends = maturin
	makedepends = python-installer
	makedepends = cmake
	makedepends = git
	depends = gcc-libs
	depends = glibc
	options = !lto
	source = uv::git+https://github.com/astral-sh/uv.git#commit=12462e57303d7071ccb0cee9eebe9feffa94642d
	sha512sums = SKIP

pkgname = uv

pkgname = python-uv
	depends = python
	depends = uv
