pkgbase = uv
	pkgdesc = An extremely fast Python package installer and resolver written in Rust
	pkgver = 0.2.7
	pkgrel = 1
	url = https://github.com/astral-sh/uv
	arch = x86_64
	license = MIT
	license = Apache-2.0
	checkdepends = python
	checkdepends = python-zstandard
	checkdepends = libxcrypt-compat
	checkdepends = clang
	makedepends = cargo
	makedepends = maturin
	makedepends = python-installer
	makedepends = cmake
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = zlib
	depends = libz.so
	options = !lto
	source = git+https://github.com/astral-sh/uv.git#tag=0.2.7
	sha256sums = 1c379510d754655d12674dee790bc840b551bc4022e4529f31894a070e447cd5

pkgname = uv

pkgname = python-uv
	depends = python
	depends = uv
