pkgbase = rusolver-bin
	pkgdesc = Fast and accurate DNS resolver
	pkgver = 0.6.1
	pkgrel = 1
	url = https://github.com/Edu4rdSHL/rusolver
	arch = x86_64
	license = GPL3
	provides = rusolver
	conflicts = rusolver
	source_x86_64 = rusolver-bin-0.6.1::https://github.com/Edu4rdSHL/rusolver/releases/download/0.6.1/rusolver-linux
	source_x86_64 = rusolver-bin-0.6.1-README.md::https://github.com/Edu4rdSHL/rusolver/raw/0.6.1/README.md
	source_x86_64 = rusolver-bin-0.6.1-man.1::https://github.com/Edu4rdSHL/rusolver/raw/0.6.1/rusolver.1
	sha256sums_x86_64 = 68c1966546ea3a07c9e4268ee97b6c4e1d5a9af2cdf04d5b67dc5a27981bbf0c
	sha256sums_x86_64 = 9da7191675073eb69dfd6e8f0c78c590afeed2c7ccfc468171d9746391410a80
	sha256sums_x86_64 = e4eca6425b71a9c9b2e5d4e5b9e339abd88a4ac6ff35d312d690fd9e553cd50b

pkgname = rusolver-bin

