pkgbase = cargo-zigbuild
	pkgdesc = Compile Cargo project with zig as linker
	pkgver = 0.18.1
	pkgrel = 2
	url = https://github.com/rust-cross/cargo-zigbuild
	arch = x86_64
	license = MIT
	depends = cargo
	depends = zig
	depends = gcc-libs
	source = cargo-zigbuild-0.18.1.tar.gz::https://github.com/rust-cross/cargo-zigbuild/archive/v0.18.1.tar.gz
	sha256sums = 2fbd69ebfc30925ccf5e7003900ad14b21fc0469b9e084827851a506900cc056

pkgname = cargo-zigbuild
