pkgbase = cargo-zigbuild
	pkgdesc = Compile Cargo project with zig as linker
	pkgver = 0.19.1
	pkgrel = 1
	url = https://github.com/rust-cross/cargo-zigbuild
	arch = x86_64
	license = MIT
	depends = cargo
	depends = zig
	depends = gcc-libs
	source = cargo-zigbuild-0.19.1.tar.gz::https://github.com/rust-cross/cargo-zigbuild/archive/v0.19.1.tar.gz
	sha256sums = 335f441157560d8cf9bc3f5ea4e6b5dd29da8aaa70b7504c1b904442840bb55f

pkgname = cargo-zigbuild
