pkgbase = cargo-zigbuild
	pkgdesc = Compile Cargo project with zig as linker
	pkgver = 0.18.4
	pkgrel = 1
	url = https://github.com/rust-cross/cargo-zigbuild
	arch = x86_64
	license = MIT
	depends = cargo
	depends = zig
	depends = gcc-libs
	source = cargo-zigbuild-0.18.4.tar.gz::https://github.com/rust-cross/cargo-zigbuild/archive/v0.18.4.tar.gz
	sha256sums = 842422e0255b5fc5f274deaebb66f82e6a9a61b1b936869fa3453dc6f817e10c

pkgname = cargo-zigbuild
