pkgbase = xh
	pkgdesc = Friendly and fast tool for sending HTTP requests
	pkgver = 0.22.0
	pkgrel = 1
	url = https://github.com/ducaale/xh
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	replaces = ht-rs
	replaces = ht
	source = xh-0.22.0.tar.gz::https://github.com/ducaale/xh/archive/v0.22.0.tar.gz
	sha256sums = 72f4d5e24165d8749433167e3ad3df8f26faafb250f1232acbe5192843e4157c

pkgname = xh
