pkgbase = kubie
	pkgdesc = A more powerful alternative to kubectx and kubens
	pkgver = 0.23.0
	pkgrel = 1
	url = https://github.com/sbstp/kubie
	arch = x86_64
	license = custom:zlib
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = kubie-0.23.0.tar.gz::https://github.com/sbstp/kubie/archive/v0.23.0.tar.gz
	sha512sums = c92ee1a0d3d224ea9289766752aeceb16b58165d20799ab18afa1b8b84fa366270cc56368d4392ba36c8a3a6eb2ac5c96b33e3861c3d5dc9ac83a4a246f9fdb8

pkgname = kubie
