pkgbase = bugstalker
	pkgdesc = Rust debugger for Linux x86-64
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/godzie44/BugStalker
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = libunwind
	options = !lto
	source = bugstalker-0.2.0.tar.gz::https://github.com/godzie44/BugStalker/archive/v0.2.0.tar.gz
	sha512sums = 0bbc595a33aa515333d3bf99eb86e07e86d5b375050ba6ee75032f133ac6bea63d263d3e87b30162970d528fd70402a7c0fed7cad656cc5469c59616a56e5553

pkgname = bugstalker
