pkgbase = bugstalker
	pkgdesc = Rust debugger for Linux x86-64
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/godzie44/BugStalker
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = libunwind
	options = !lto
	source = bugstalker-0.2.1.tar.gz::https://github.com/godzie44/BugStalker/archive/v0.2.1.tar.gz
	sha512sums = 327a81e2211bb489f4aecce3e192ef3e152acaf71bd5f462552148fb46b4cf9accefe080a3e58b3336d2d4d44632201a6abd6dc814f88cf5a7958abf24d62fd7

pkgname = bugstalker
