pkgbase = cargo-semver-checks
	pkgdesc = Scan your Rust crate for semver violations
	pkgver = 0.29.0
	pkgrel = 1
	url = https://github.com/obi1kenobi/cargo-semver-checks
	arch = x86_64
	license = Apache-2.0
	license = MIT
	makedepends = git
	makedepends = cmake
	depends = cargo
	depends = gcc-libs
	depends = glibc
	depends = openssl
	depends = zlib
	options = !lto
	source = cargo-semver-checks::git+https://github.com/obi1kenobi/cargo-semver-checks.git#commit=d9265c5313847c2f687cd8ce558d960332028663
	sha512sums = SKIP

pkgname = cargo-semver-checks
