pkgbase = cargo-semver-checks
	pkgdesc = Scan your Rust crate for semver violations
	pkgver = 0.32.0
	pkgrel = 1
	url = https://github.com/obi1kenobi/cargo-semver-checks
	arch = x86_64
	license = Apache-2.0
	license = MIT
	makedepends = git
	makedepends = cmake
	depends = cargo
	depends = gcc-libs
	depends = glibc
	depends = openssl
	depends = zlib
	options = !lto
	source = cargo-semver-checks-0.32.0::git+https://github.com/obi1kenobi/cargo-semver-checks.git#commit=1d74c88f48eaf15a1e2e492b79f8273bd15147f6
	sha512sums = 4eaf58f58e121a847d2ec6426bac101f2cdcab2f97cfa7df22a654800f33ced7f5a33d5161e595e79fc3de8fe5e8e007f3b2aba3b0e1ea26d4ea4280e38d57af

pkgname = cargo-semver-checks
