pkgbase = lsd
	pkgdesc = Modern ls with a lot of pretty colors and awesome icons
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/Peltoche/lsd
	arch = x86_64
	license = Apache-2.0
	checkdepends = git
	makedepends = cargo
	makedepends = pandoc
	depends = gcc-libs
	depends = zlib
	optdepends = nerd-fonts
	optdepends = awesome-terminal-fonts
	options = !lto
	source = https://github.com/Peltoche/lsd/archive/v1.1.1/lsd-1.1.1.tar.gz
	sha256sums = 7933e196bf7b164ea8879078f8a8e87381e0c49f71867e0036c82916199aba61
	sha512sums = 7a3f517bb9d9b2f3a43989caef1b7454c99fd7a4f49a86da09a221821a78273bf6be60404288fead4a36bf8e3f88cfb38e0b601c7edd2ff98ea847ca8ac0ed01

pkgname = lsd
