pkgbase = lsd
	pkgdesc = Modern ls with a lot of pretty colors and awesome icons
	pkgver = 1.1.2
	pkgrel = 1
	url = https://github.com/lsd-rs/lsd
	arch = x86_64
	license = Apache-2.0
	checkdepends = git
	makedepends = cargo
	makedepends = pandoc
	depends = gcc-libs
	depends = zlib
	optdepends = nerd-fonts
	optdepends = awesome-terminal-fonts
	options = !lto
	source = https://github.com/lsd-rs/lsd/archive/v1.1.2/lsd-1.1.2.tar.gz
	sha256sums = cd80dae9a8f6c4c2061f79084468ea6e04c372e932e3712a165119417960e14e
	sha512sums = 2d0370c5fb463a4f5e1f2b0366e4fa4baab08eb307b8410d430361777d061a18b9bb9f75a7d19afbb12449c62a59d986cdb170937b7814f49cfbeb85612e8d54

pkgname = lsd
